//fontes
$fontPrincipal: "Roboto", sans-serif;

//esquema de cores
$corDeFundo: #f1f2f6;
$corPrincipal: #1e90ff;
$corSecundaria: #70a1ff;
$corSecundariaClara: #93b2eb;

//breakpoints 
$mobile: 767px;
$tablet: 1023px;